* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'kingdom_heartsregular';
    src: url("kingdom_hearts_font-webfont.woff2") format('woff2'),
         url("kingdom_hearts_font-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    background-image: url("wallpaper.png");
    font-family: Arial, sans-serif;
    padding: 10px;
    color: lightgrey;
}

.warning {
    color: red;
    text-align: center;
}

.subheader {
    color: gold;
}

/* Header Title */
.header {
    padding: 30px;
    text-align: center;
    color: silver;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Focused Images */
.focus_img {
    background-color: #333;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    text-align: center;
    margin-left: -20px;
    margin-top: 20px;
    background-image: url("sheetMusic.png");
}

/* links won't change color */
a {
    color: silver;
    text-decoration: none;
}

/* Making character heights the same */
.character {
    height: 250px;
    float: left;
}

.title {
    font-family: "kingdom_heartsregular", serif;
    text-align: center;
    font-size: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.popular_pages {
    border: 1px solid #ccc;
    margin: 5px;
}

div.popular_pages:hover {
    border: 1px solid #777;
}

div.popular_pages img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }

    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .topnav a {
        float: none;
        width: 100%;
    }

    .responsive {
        width: 100%;
    }
}